@import url("https://fonts.googleapis.com/css?family=Oswald:400,500");
@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
/*PC*/
@media screen and (min-width: 1200px) {
  .video {
    background-color: #060647; }
    .video iframe {
      height: 320px;
      width: 625px;
      margin-top: 50px;
      border: solid #B81D14 15px;
      border-radius: 8px; }

  .button {
    padding: 20px 40px 20px 40px;
    background-color: #B81D14;
    margin: 35px 30px 5px 30px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    font-family: "Oswald", sans-serif;
    border: none;
    letter-spacing: 0.9px;
    border-radius: 2px;
    outline: none !important;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }

  .overlay {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 250px;
    width: 420px;
    opacity: 0;
    transition: .9s ease;
    background-color: #696969; }

  .container:hover .overlay {
    opacity: 0.7; }

  .mainPerson_text {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }

  .mainPerson {
    display: block;
    width: 420px;
    height: 250px;
    margin: 30px 0px 30px 0px;
    border: solid 1px rgba(77, 77, 77, 0.8);
    border-radius: 3px; }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.foxsportsasia.com/uploads/2018/11/neymarmbappecropped_isk7lqtbodyt138l83kyj8czv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 650px; }

  .hero-text {
    text-align: end;
    position: absolute;
    top: 80%;
    left: 60%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1.5px;
    opacity: 0.8; }
    .hero-text h1 {
      font-size: 60px; }
    .hero-text p {
      font-size: 30px; } }
/*SMARTPHONES*/
@media screen and (max-width: 576px) {
  .video {
    background-color: #060647; }
    .video iframe {
      height: auto;
      width: auto;
      position: relative;
      margin-top: 50px;
      border: solid #B81D14 15px;
      border-radius: 8px; }

  .button {
    padding: 20px 40px 20px 40px;
    background-color: #B81D14;
    margin: 20px 30px 20px 30px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    font-family: "Oswald", sans-serif;
    border: none;
    letter-spacing: 0.9px;
    border-radius: 2px;
    outline: none !important;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }

  .mainPerson_text {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    border: dotted 3px #777;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    width: 420px;
    align-items: center;
    position: relative;
    top: -30px;
    padding-top: 15px;
    opacity: 0.9; }

  .mainPerson {
    display: block;
    width: 420px;
    height: 250px;
    margin: 30px 0px 30px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px rgba(77, 77, 77, 0.8); }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.foxsportsasia.com/uploads/2018/11/neymarmbappecropped_isk7lqtbodyt138l83kyj8czv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px; }

  .hero-text {
    text-align: end;
    position: absolute;
    top: 80%;
    left: 60%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1.2px;
    opacity: 0.8; }
    .hero-text h1 {
      font-size: 30px; }
    .hero-text p {
      font-size: 20px; } }
/*TABLETS*/
@media screen and (min-width: 576px) and (max-width: 1200px) {
  .video {
    background-color: #060647; }
    .video iframe {
      height: 320px;
      width: 576px;
      position: relative;
      margin-top: 50px;
      border: solid #B81D14 15px;
      border-radius: 8px; }

  .button {
    padding: 20px 40px 20px 40px;
    background-color: #B81D14;
    margin: 20px 30px 20px 30px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    font-family: "Oswald", sans-serif;
    border: none;
    letter-spacing: 0.9px;
    border-radius: 2px;
    outline: none !important;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }

  .mainPerson_text {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    border: dotted 3px #777;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    width: 420px;
    align-items: center;
    position: relative;
    top: -30px;
    padding-top: 15px;
    opacity: 0.9; }

  .mainPerson {
    display: block;
    width: 420px;
    height: 250px;
    margin: 30px 0px 30px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px rgba(77, 77, 77, 0.8); }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.foxsportsasia.com/uploads/2018/11/neymarmbappecropped_isk7lqtbodyt138l83kyj8czv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px; }

  .hero-text {
    text-align: end;
    position: absolute;
    top: 80%;
    left: 72%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1px;
    opacity: 0.8; }
    .hero-text h1 {
      font-size: 40px; }
    .hero-text p {
      font-size: 30px; } }
* {
  margin: 0;
  padding: 0; }

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  height: 100px;
  font-family: "Oswald", sans-serif; }
  .tabcontent img {
    position: relative;
    top: 8px; }

/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  border: none;
  outline: none !important;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  letter-spacing: 0.6px;
  font-family: "Oswald", sans-serif; }
  .tablink:hover {
    background-color: #777; }

/* Style each tab content individually */
#United {
  background-color: #db0e0e; }

#Paris {
  background-color: #003f6c; }

#City {
  background-color: #98c2e8; }

#Borussia {
  background-color: #f5da00; }

/*style info section with logo and stadiums etc.*/
.info {
  background: #F00000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B81D14, #F00000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B81D14, #F00000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto; }
  .info img {
    position: relative;
    top: 20px; }
  .info .line {
    width: 70%;
    border-bottom: solid 3px rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    position: relative;
    top: 40px; }
  .info h1 {
    font-family: "Oswald", sans-serif;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.9; }
  .info p {
    font-family: "Oswald", sans-serif;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.75;
    position: relative; }
  .info h2 {
    font-family: "Oswald", sans-serif;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.9;
    position: relative; }

.details {
  position: relative;
  top: 50px; }

.mainPeople {
  background-color: #555;
  height: auto; }

.container {
  position: relative;
  width: 50%; }

/*# sourceMappingURL=style.css.map */
