@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
$mainFont: 'Oswald', sans-serif;
@mixin info($opacity){
  font-family: $mainFont;
  color: white;
  letter-spacing: 0.6px;
  font-weight: 300;
  opacity: $opacity;
  position: relative;
}
@mixin button($margin){
  .button {
    padding: 20px 40px 20px 40px;
    background-color: #B81D14;
    margin: $margin;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    font-family: "Oswald", sans-serif;
    border: none;
    letter-spacing: 0.9px;
    border-radius: 2px;
    outline: none!important;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }
}

/*PC*/
@media screen and (min-width: 992px) {
  .video {
    background-color: #060647;
    iframe {
      height: 320px;
      width: 625px;
      margin-top: 50px;
      border: solid #B81D14 15px;
      border-radius: 8px;
  }
 }
@include button(35px 30px 5px 30px);

.overlay {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 250px;
  width: 420px;
  opacity: 0;
  transition: .9s ease;
  background-color:	#696969;
}

.container:hover .overlay {
  opacity: 0.7;
}

.mainPerson_text {
  color: hsla(0, 0%, 100%, 1);
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; 
}

.mainPerson {
  display: block;
  width: 420px;
  height: 250px;
  margin: 30px 0px 30px 0px;
}
 }

/*SMARTPHONES*/
@media screen and (max-width: 576px) {
  .video {
    background-color: #060647;
    iframe {
      height: auto;
      width: auto;
      position: relative;
      margin-top: 50px;
      border: solid #B81D14 15px;
      border-radius: 8px;
  }
 }
@include button(20px 30px 20px 30px);

.mainPerson_text {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  border: dotted 3px #777;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  width: 420px;
  align-items: center;
  position: relative;
  top: -30px;
  padding-top: 15px;
  opacity: 0.9;
}
.mainPerson {
  display: block;
  width: 420px;
  height: 250px;
  margin: 30px 0px 30px 0px;
}
}

/*TABLETS*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .video {
    background-color: #060647;
    iframe {
      height: 320px;
      width: 576px;
      position: relative;
      margin-top: 50px;
      border: solid #B81D14 15px;
      border-radius: 8px;
  }
 }
@include button(20px 30px 20px 30px);

.mainPerson_text {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  border: dotted 3px #777;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  width: 420px;
  align-items: center;
  position: relative;
  top: -30px;
  padding-top: 15px;
  opacity: 0.9;
}
.mainPerson {
  display: block;
  width: 420px;
  height: 250px;
  margin: 30px 0px 30px 0px;
}
}


* {
  margin: 0;
  padding: 0;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  height: 100px;
  font-family: $mainFont;
   img {
     position: relative;
     top: 8px;
   }
}

/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  border: none;
  outline: none!important;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  letter-spacing: 0.6px;
  font-family: $mainFont;
    &:hover {
      background-color: #777;
    }

}

/* Style each tab content individually */
#United {background-color: rgb(219, 14, 14);}
#Paris {background-color: rgb(0, 63, 108);}
#City {background-color: rgb(152, 194, 232);}
#Borussia {background-color: rgb(245, 218, 0);}


/*style info section with logo and stadiums etc.*/
.info {
  background: #F00000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B81D14, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B81D14, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  img {
    position: relative;
    top: 20px;
  }
  .line {
    width: 70%;
    border-bottom: solid 3px hsla(0,100%,100%,0.8);
    margin: 0 auto;
    position: relative;
    top: 40px;
  }

  h1 {
    font-family: $mainFont;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.9;
  }

  p {
    @include info(0.75);
  }

  h2 {
    @include info (0.9);
  }
}

.details {
  position: relative;
  top: 50px;
}

.mainPeople {
  background-color: #555;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
}
