@import url("https://fonts.googleapis.com/css?family=Oswald:400,500");
* {
  margin: 0;
  padding: 0; }

/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: "Oswald", sans-serif; }
  .tablink:hover {
    background-color: #777; }

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  height: 100px;
  font-family: "Oswald", sans-serif; }
  .tabcontent img {
    position: relative;
    top: 10px; }

/* Style each tab content individually */
#United {
  background-color: #db0e0e; }

#Paris {
  background-color: #003f6c; }

#City {
  background-color: #98c2e8; }

#Borussia {
  background-color: #f5da00; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  top: -1px; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  display: none; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
/*styling section with boss, player, trainer*/
.mainPeople {
  display: grid;
  height: 400px;
  width: 100%;
  background-color: #1a1a1a;
  position: relative;
  top: -23px;
  grid-template-columns: 1fr, 1fr, 1fr;
  justify-items: center;
  align-items: center;
  font-weight: 200; }

.boss {
  grid-column: 2; }

.star {
  grid-column: 1; }

.trainer {
  grid-column: 3; }

.title {
  position: relative;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000428, #004e92);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #004e92);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  letter-spacing: 1.8px; }

.name {
  background: #F00000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DC281E, #F00000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DC281E, #F00000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  position: relative;
  font-family: "Oswald", sans-serif;
  top: -4px;
  padding: 10px;
  letter-spacing: 1px; }

.intro {
  position: relative;
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  top: -23px; }

.squad {
  grid-area: 1/1/1/1;
  background-color: #060647; }

.info {
  grid-area: 1/2/1/2;
  background: #F00000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B81D14, #F00000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B81D14, #F00000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .info img {
    margin-top: 30px;
    margin-left: 130px; }
  .info .line {
    width: 70%;
    border-bottom: solid 3px rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    position: relative;
    top: 30px; }
  .info h1 {
    font-family: "Oswald", sans-serif;
    position: relative;
    top: 40px;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.9; }
  .info p {
    top: 50px;
    font-family: "Oswald", sans-serif;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.75;
    position: relative; }
  .info h2 {
    top: 50px;
    font-family: "Oswald", sans-serif;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 300;
    opacity: 0.9;
    position: relative; }

/*# sourceMappingURL=style.css.map */
